// Provide default spacing for Rain paragraphs.
body {
  .paragraph--type--text {
    margin-bottom: 30px;

    ul,
    ol {
      margin-top: 1em;
      margin-bottom: 1 em;
      margin-left: 0;
      margin-right: 0;
      padding-left: 40px;
    }
  }

  .paragraph--type--block,
  .paragraph--type--embed,
  .paragraph--type--form,
  .paragraph--type--map,
  .paragraph--type--view,
  .paragraph--type--faq,
  .paragraph--type--quote,
  .paragraph--type--media,
  .paragraph--type--gallery,
  .paragraph--type--hero-media,
  .paragraph--type--card-list,
  .paragraph--type--card {
    margin-bottom: 50px;

    .paragraph--type--card {
      margin-bottom: 0;
    }
  }
}

.paragraph--type--quote-carousel {
  margin-bottom: -100px;

  .paragraph--type--quote {
    margin-bottom: 0;
  }
}
